<div class="topics-menu">
    <span>TOPICS:</span>
    <div class="toopic-block">
        <%for(var i=0; i<locals.topics.length; i++) {%>
            <div class="topic-btn">
                <div class="first-block" onclick="openTopic(this)">
                    <span>
                        <svg>
                            <use xlink:href="/main.svg#<%=locals.topics[i].icon%>-svg"></use>
                        </svg>
                        <a href="?topic=<%=locals.topics[i].id%>"><%=locals.topics[i].topic%></a>
                    </span>
                    <svg class="triangle">
                        <use xlink:href="/main.svg#triangle-svg"></use>
                    </svg>
                </div>
                <div class="second-block">
                    <%for(var inner=0; inner<locals.category.length; inner++) {
                        if (locals.category[inner].topic_id == locals.topics[i].id){
                    %>
                        
                        <div class="btn-click">
                            <a href="?category=<%=locals.category[inner].id%>"><%=locals.category[inner].category%></a>
                        </div> 
                    <%}}%>
                </div>
            </div>            
        <%}%>
        
    </div>
</div>