<div class="create-menu">
    <a href="/profile/news">
        <img src="/images/users/user.svg" alt="">
    </a>
    <h2><%=locals.login%></h2>
    <div class="inp-menu">
        <div class="select_create">
            <h3>What do you want to publish:</h3>
            <select name="" id="" class="select" onchange="select(this)">
                <option value="" selected disabled>What do you want?</option>
                <option value="news">Create a news</option>
                <option value="discussion">Create a discussion</option>
            </select>
        </div>
        <form action="/create/news" method="POST" class="news-form" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="imgUpload" class="file" required onchange="uploadDone(this)">
            <div class="input-file-news" onclick="uploadImg(this)">
               Upload a photo
            </div>
            <h3>Write an event:</h3>
            <input type="text" name="event"  maxlength="22" required placeholder="Event...">
            <h3>Create a discussion title:</h3>
            <input type="text" name="title" required placeholder="News headline...">
            <h3>Describe the essence of the news:</h3>
            <textarea name="news" id="" cols="30" rows="1" placeholder="Enter a news..." required></textarea>
            <div class="topics">
                <h3>Choose the topic of news:</h3>
                <select name="category" id="" class="category" required onchange="selectCategory(this)">
                    <option value="" selected disabled>Category...</option>
                    <% for(var i=0; i<locals.topic.length; i++) {%>
                        <option value="<%= locals.topic[i].id%>"><%= locals.topic[i].topic%></option>
                    <% } %>
                </select>
                <select name="subcategory" id="" class="subcategory" disabled required>
                    <option value="" class="selected" selected disabled>Subcategory...</option>
                    <% for(var i=0; i<locals.category.length; i++) {%>
                        <option value="<%= locals.category[i].id%>" class="option <%= locals.category[i].topic_id%>" style="display: none;" disabled><%= locals.category[i].category%></option>
                    <% } %>
                </select>
            </div>
            <button>Create</button>
        </form>
        <form action="/create/discussion" method="POST" class="discussion-form">
            <h3>Create a discussion title:</h3>
            <input type="text" name="title" id="" placeholder="Discussion title..." required>
            <h3>Describe the essence of the discussion:</h3>
            <textarea name="discussion" id="" cols="30" rows="1" placeholder="Enter a discussion..." required></textarea>
            <div class="topics">
                <h3>Choose the topic of discussion:</h3>
                <select name="category" id="" class="category" required onchange="selectCategory(this)">
                    <option value="" selected disabled>Category...</option>
                    <% for(var i=0; i<locals.topic.length; i++) {%>
                        <option value="<%= locals.topic[i].id%>"><%= locals.topic[i].topic%></option>
                    <% } %>
                </select>
                <select name="subcategory" id="" class="subcategory" disabled required>
                    <option value="" class="selected" selected disabled>Subcategory...</option>
                    <% for(var i=0; i<locals.category.length; i++) {%>
                        <option value="<%= locals.category[i].id%>" class="option <%= locals.category[i].topic_id%>" style="display: none;" disabled><%= locals.category[i].category%></option>
                    <% } %>
                </select>
            </div>
            <button>Create</button>
        </form>
    </div>
</div>

<script>
    function select(selectOpt){
        if (selectOpt.value == 'news'){
            document.querySelector('.discussion-form').classList.remove('active')
            document.querySelector('.news-form').classList.add('active')
        } else if (selectOpt.value == 'discussion'){
            document.querySelector('.news-form').classList.remove('active')
            document.querySelector('.discussion-form').classList.add('active')
        }
    }
</script>

<script>
    function selectCategory(selectCat){
        const subcategory = selectCat.closest('.topics').querySelector('.subcategory')
        subcategory.disabled = false

        dispNone = subcategory.getElementsByClassName('option')
        for(var i = 0; i < dispNone.length; i++) {
            subcategory.getElementsByClassName('selected').selected = true
            dispNone[i].style = 'display: none;';
            dispNone[i].disabled = true;
        }

        

        elements = subcategory.getElementsByClassName(selectCat.value)
        for(var i = 0; i < elements.length; i++) {
            elements[i].style = '';
            elements[i].disabled = false;
        }
    }
</script>

<script>
    function uploadImg(div) {
        div.closest('.news-form').querySelector('.file').click()
    }

    function uploadDone(inp) {
        if (inp.files[0].type.indexOf('image/') == 0){
            document.querySelector('.input-file-news').classList.remove('cancle')
            document.querySelector('.input-file-news').classList.add('done')
            document.querySelector('.input-file-news').textContent = 'Done'
        } else{
            document.querySelector('.input-file-news').classList.remove('done')
            document.querySelector('.input-file-news').classList.add('cancle')
            document.querySelector('.input-file-news').textContent = 'Upload a photo'
        }
        
    }
</script>