<div class="page-forum-item">   
    <%for(var i=0; i<locals.reqForum.length; i++) {
        let categoryName = locals.category.find(item => item.id == locals.reqForum[i].subcategory);
        let userName = locals.user.find(item => item.id == locals.reqForum[i].id_user);
    %>
    <div class="body-question-block">
        <div class="user-block">
            <div class="user-link">
                <img src="/images/user.svg" alt="">
                <a href=""><%= userName.login%></a>
            </div>
            <div class="date-favorite">
                <span><%= locals.reqForum[i].date%></span> 
                <a href="">
                    <svg>
                        <use xlink:href="/main.svg#favorite-svg"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="question-element">
            <div class="rating-block">
                <a href="?rating=+1">
                    <svg>
                        <use xlink:href="/main.svg#arrow-svg"></use>
                    </svg>
                </a>
                <div class="rating-text">
                    <%= locals.reqForum[i].rating%>
                </div>
                <a href="">
                    <svg class="down-arrow">
                        <use xlink:href="/main.svg#arrow-svg"></use>
                    </svg>
                </a>
            </div>
            <div class="question">
                <h3><%= locals.reqForum[i].title%></h3><br>
                <pre><%= locals.reqForum[i].discussion%></pre>
                <div class="info-block">
                    <div class="info">
                        <svg>
                            <use xlink:href="/main.svg#yey-svg"></use>
                        </svg>
                        <span><%= locals.reqForum[i].watching%></span>
                    </div>
                    <div class="info">
                        <svg>
                            <use xlink:href="/main.svg#forum-svg"></use>
                        </svg> 
                        <span><%= locals.reqForum[i].coments%></span>
                    </div>
                    <div class="info">
                        <svg class="favorite">
                            <use xlink:href="/main.svg#favorite-svg"></use>
                        </svg>
                        <span><%= locals.reqForum[i].favorite%></span>
                    </div> 
                    <div class="report">
                        <span onclick="reportMenu(this)">
                            <svg>
                                <use xlink:href="/main.svg#report-svg"></use>
                            </svg>
                        </span>  
                    </div>           
                </div>
                <div class="topic-block">
                    <a href="/forum?subcategory=<%= locals.reqForum[i].subcategory%>">
                        <div class="btn">
                            <%= categoryName.category%>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    <div class="comments-user">
        <hr>
        <div class="answer-user">
            <div class="user">
                    <div class="user-link">
                        <img src="/images/user.svg" alt="">
                        <div class="user-date">
                            <a href="">User</a>
                            <span>20.11.2022</span>
                        </div>
                    </div>
                    <span class="more" onclick="openMoreMenu(this)">
                        <svg>
                            <use xlink:href="/main.svg#more-svg"></use>
                        </svg>
                    </span>
            </div>  
            <div class="answer">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque reiciendis perspiciatis itaque nostrum mollitia eaque nulla, provident eos atque ipsum! Libero impedit maiores delectus facere quaerat laudantium, eaque autem debitis!</span>
                <div class="reactions">
                    <div class="one-reactions">
                        <span class="svg">  
                            <svg>
                                <use xlink:href="/main.svg#like-svg"></use>
                            </svg>
                        </span>
                        <span>0</span>
                    </div>
                    <div class="one-reactions">
                        <span class="svg">  
                            <svg>
                                <use xlink:href="/main.svg#reply-svg"></use>
                            </svg>
                        </span>
                        <span>0</span>
                    </div>
                </div>
            </div>   
            <div class="more-menu">
                <div class="btn">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                    <span>Like</span>
                </div>
                <div class="btn">
                    <svg>
                        <use xlink:href="/main.svg#reply-svg"></use>
                    </svg>
                    <span>Share</span>
                </div>
                <div class="btn" onclick="reportMenu(this)">
                    <svg>
                        <use xlink:href="/main.svg#report-svg"></use>
                    </svg>
                    <span>Report</span>
                </div>
            </div>
        </div>
        <div class="answer-user">
            <div class="user">
                    <div class="user-link">
                        <img src="/images/user.svg" alt="">
                        <div class="user-date">
                            <a href="">User</a>
                            <span>20.11.2022</span>
                        </div>
                    </div>
                    <span class="more" onclick="openMoreMenu(this)">
                        <svg>
                            <use xlink:href="/main.svg#more-svg"></use>
                        </svg>
                    </span>
            </div>  
            <div class="answer">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque reiciendis perspiciatis itaque nostrum mollitia eaque nulla, provident eos atque ipsum! Libero impedit maiores delectus facere quaerat laudantium, eaque autem debitis!</span>
                <div class="reactions">
                    <div class="one-reactions">
                        <span class="svg">  
                            <svg>
                                <use xlink:href="/main.svg#like-svg"></use>
                            </svg>
                        </span>
                        <span>0</span>
                    </div>
                    <div class="one-reactions">
                        <span class="svg">  
                            <svg>
                                <use xlink:href="/main.svg#reply-svg"></use>
                            </svg>
                        </span>
                        <span>0</span>
                    </div>
                </div>
            </div>   
            <div class="more-menu">
                <div class="btn">
                    <svg>
                        <use xlink:href="/main.svg#like-svg"></use>
                    </svg>
                    <span>Like</span>
                </div>
                <div class="btn">
                    <svg>
                        <use xlink:href="/main.svg#reply-svg"></use>
                    </svg>
                    <span>Share</span>
                </div>
                <div class="btn" onclick="reportMenu(this)">
                    <svg>
                        <use xlink:href="/main.svg#report-svg"></use>
                    </svg>
                    <span>Report</span>
                </div>
            </div>
        </div>
    </div>
    <div class="send-comment">
        <hr>
        <form action="">
            <textarea type="text" name="" id="" placeholder="Enter your comment..."></textarea>
            <button>
                <svg>
                    <use xlink:href="/main.svg#send-svg"></use>
                </svg>
            </button>
        </form>
    </div>
    <form action="" class="report-menu">
        <div class="close-line">
            <span onclick="closeReportMenu(this)">
                <svg>
                    <use xlink:href="/main.svg#close-svg"></use>
                </svg>
            </span>
        </div>
        <div class="logo-block">
            <a href="/">
                <svg>
                    <use xlink:href="/main.svg#logo-svg"></use>
                </svg>
            </a>
        </div>
        <div class="description">
            <h3>Describe the problem briefly:</h3>
            <input type="text" placeholder="Enter your problem...">
            <h3>Detailed information about the problem:</h3>
            <textarea name="" id="" cols="30" rows="10" placeholder="Problem details..."></textarea>
        </div>
        <button class="accept">Report</button>
    </form>
</div>

