<div class="forum-page">
    <div class="filter-menu">
        <span>Sorted by:</span>
        <a href="">Newest</a>
        <hr width="1" size="28"  />
        <a href="">Аnswers</a>
        <hr width="1" size="28"  />
        <a href="">Views</a>
        <hr width="1" size="28"  />
        <a href="">Favourites</a>
    </div>
    <%for(var i=0; i<locals.forums.length; i++) {
            let categoryName = locals.category.find(item => item.id == locals.forums[i].subcategory);
            %>
            <div class="block-discussion">
                <div class="upper-block">
                    <div class="info-block">
                        <div class="info">
                            <svg>
                                <use xlink:href="/main.svg#yey-svg"></use>
                            </svg>
                            <span><%= locals.forums[i].watching%></span>
                        </div>
                        <div class="info">
                            <svg>
                                <use xlink:href="/main.svg#forum-svg"></use>
                            </svg>
                            <span><%= locals.forums[i].coments%></span>
                        </div>
                        <div class="info">
                            <svg class="favorite">
                                <use xlink:href="/main.svg#favorite-svg"></use>
                            </svg>
                            <span><%= locals.forums[i].favorite%></span>
                        </div>
                    </div>
                    <div class="text-block">
                        <a href="/forum/item?id=<%= locals.forums[i].id%>&id_user=<%= locals.forums[i].id_user%>"><%= locals.forums[i].title%></a><br>
                        <pre><%= locals.forums[i].discussion%></pre>
                    </div>
                    <span class="date"><%= locals.forums[i].date%></span> 
                </div>
                <div class="topic-block">
                    <a href="/forum/?<%= locals.forums[i].subcategory%>">
                        <div class="topic"><%= categoryName.category%></div>
                    </a>                                
                </div>
            </div>
    <%}%>
    
</div>