<div class="page-news-item">
    <%for(var i=0; i<locals.reqNews.length; i++) {
        let categoryName = locals.category.find(item => item.id == locals.reqNews[i].subcategory);
    %>
    <div class="header-news">
        <div class="img-block">
            <div class="img-block">
                <img src="/images/news/<%= locals.reqNews[i].img%>" alt="">
                <div class="dark-img"></div>
                <h1><%= categoryName.category%></h1>
                <h3><%= locals.reqNews[i].event%></h3>
            </div>
        </div>
        <div class="info-block">
            <h2><%= locals.reqNews[i].title%></h2>
            <div class="date"><%= locals.reqNews[i].date%></div>
            <div class="favorite-div">
                <svg>
                    <use xlink:href="/main.svg#favorite-svg"></use>
                </svg>
            </div>
            <div class="stats">
                <div class="info">
                    <svg>
                        <use xlink:href="/main.svg#yey-svg"></use>
                    </svg>
                    <span><%= locals.reqNews[i].watching%></span>
                </div>
                <div class="info">
                    <svg>
                        <use xlink:href="/main.svg#forum-svg"></use>
                    </svg> 
                    <span><%= locals.reqNews[i].coments%></span>
                </div>
                <div class="info">
                    <svg class="favorite">
                        <use xlink:href="/main.svg#favorite-svg"></use>
                    </svg>
                    <span><%= locals.reqNews[i].favorite%></span>
                </div>
            </div>            
        </div>
    </div>
    <div class="text-block">
        <pre><%= locals.reqNews[i].news%>
        </pre>
    </div>  
    <div class="comment-block">
        <div class="comments-user">
            <hr>
            <%if (locals.comment.length == 0) {%>
                <div class="clear">
                    <svg>
                        <use xlink:href="/main.svg#forum-svg"></use>
                    </svg>
                    <span>The list is empty</span>
                </div>
            <%} 
            else 
            {for(var inner=0; inner<locals.comment.length; inner++) {
                let userName = locals.users.find(item => item.id == locals.comment[inner].id_user);
            %>
            <div class="answer-user">
                <div class="user">
                        <div class="user-link">
                            <% if(userName.img !== 'def'){%>
                                <img src="/images/users/<%=userName.id%>.<%=userName.img%>" alt="">
                            <%}else{%>
                                <img src="/images/users/user.svg" alt="">
                            <%}%>
                            <div class="user-date">
                                <a href=""><%= userName.login%></a>
                                <span><%= locals.comment[inner].date%></span>
                            </div>
                        </div>
                        <span class="more" onclick="openMoreMenu(this)">
                            <svg>
                                <use xlink:href="/main.svg#more-svg"></use>
                            </svg>
                        </span>
                </div>  
                <div class="answer">
                    <pre><%= locals.comment[inner].coment%></pre>
                    <div class="reactions">
                        <div class="one-reactions">
                            <span class="svg">  
                                <svg>
                                    <use xlink:href="/main.svg#like-svg"></use>
                                </svg>
                            </span>
                            <span><%= locals.comment[inner].like%></span>
                        </div>
                        <div class="one-reactions">
                            <span class="svg">  
                                <svg>
                                    <use xlink:href="/main.svg#reply-svg"></use>
                                </svg>
                            </span>
                            <span><%= locals.comment[inner].reply%></span>
                        </div>
                    </div>
                </div>   
                <div class="more-menu">
                    <div class="btn">
                        <svg>
                            <use xlink:href="/main.svg#like-svg"></use>
                        </svg>
                        <span>Like</span>
                    </div>
                    <div class="btn">
                        <svg>
                            <use xlink:href="/main.svg#reply-svg"></use>
                        </svg>
                        <span>Share</span>
                    </div>
                    <div class="btn" onclick="reportMenu(this)">
                        <svg>
                            <use xlink:href="/main.svg#report-svg"></use>
                        </svg>
                        <span>Report</span>
                    </div>
                    <% if (locals.userWatch == locals.comment[inner].id_user) {%>
                    <div class="btn" id="<%= locals.comment[inner].id%>" onclick="deleteComent(this)">
                        <svg>
                            <use xlink:href="/main.svg#delete-svg"></use>
                        </svg>    
                        <span>Delete</span>
                    </div>
                    <%}%>
                </div>
            </div>
            <%}}%>
        </div>
        <div class="send-comment">
            <hr>
            <form action="/news/item" method="POST">
                <textarea type="text" name="comment" placeholder="Enter your comment..." required></textarea>
                <button name="id_post" value="<%= locals.reqNews[i].id%>">
                    <svg>
                        <use xlink:href="/main.svg#send-svg"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    <%}%> 
        
</div>