<div class="news-page">
    <% let sortA = ''
    if(typeof sort.category != 'undefined'){
        sortA = '&category='+sort.category
    } else if (typeof sort.topic != 'undefined'){
        sortA = '&topic='+sort.topic
    }%>
    <div class="filter-menu">
        <span>Sorted by:</span>
        <a href="/news?by=newest<%= sortA%>">Newest</a>
        <hr width="1" size="28"  />
        <a href="/news?by=comments<%= sortA%>">Comments</a>
        <hr width="1" size="28"  />
        <a href="/news?by=views<%= sortA%>">Views</a>
        <hr width="1" size="28"  />
        <a href="/news?by=favourites<%= sortA%>">Favourites</a>
    </div>
    <% if (locals.news.length == 0) {%>
        <div class="clear">
            <svg>
                <use xlink:href="/main.svg#list-svg"></use>
            </svg>
            <span>The list is empty</span>
        </div>
        <%} else {
            for(var i=0; i<locals.news.length; i++) {
                let categoryName = locals.category.find(item => item.id == locals.news[i].subcategory);
        %>
    <div class="news-item">
        <div class="img-block">
            <img src="/images/news/major.jpg" alt="">
            <div class="dark-img"></div>
            <a href="?category=<%= locals.news[i].subcategory%>"><%= categoryName.category%></a>
            <h3><%= locals.news[i].event%></h3>
        </div>  
        <div class="text-block">
            <a href="/news/item?id_post=<%= locals.news[i].id%>&id_user=<%= locals.news[i].id_user%>"><%= locals.news[i].title%></a>
            <pre><%= locals.news[i].news%></pre>
        </div>  
        <div class="info-block">
            <div class="date"><%= locals.news[i].date%></div>
            <div class="info">
                <svg>
                    <use xlink:href="/main.svg#yey-svg"></use>
                </svg>
                <span><%= locals.news[i].watching%></span>
            </div>
            <div class="info">
                <svg>
                    <use xlink:href="/main.svg#forum-svg"></use>
                </svg>
                <span><%= locals.news[i].coments%></span>
            </div>
            <div class="info">
                <svg class="favorite">
                    <use xlink:href="/main.svg#favorite-svg"></use>
                </svg>
                <span><%= locals.news[i].favorite%></span>
            </div>
            <a href="/news/item?id_post=<%= locals.news[i].id%>&id_user=<%= locals.news[i].id_user%>">
                <div class="more">More...</div>
            </a>
        </div>
    </div>
    <%}}%>
</div>